<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tzh.mylibrary">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application>
        <activity android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"  />

        <activity android:name=".activity.TranslateActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"   />

        <activity android:name=".activity.PasswordGenerationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"    />

        <activity android:name=".activity.ScanUtilActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"     />

        <activity android:name=".activity.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"     />

        <activity android:name=".activity.tool.MuYuActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>
</manifest>